

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

/* Home page left side content  */

.home-text{
    text-align: left;
    margin-left: 20px;
}

.home-text > h1{
    width: 90%;
    font-size: 75px;
    margin-bottom: 10px;
}
.home-text > h1 span{
    color:rgb(212, 67, 14);
}
.home-text > h4{
    font-size: 20px;
    width: 50%;
    margin-bottom: 30px;
    font-weight: 400;
}

.buttons{
    display: flex;
    margin-top: 20px;
}

.btn{
    width: 25%;
    padding: 15px 20px;
    border: transparent;
    border-radius: 20px;
    background-color: rgb(212, 67, 14);
    color: white;
    margin-right: 20px;
    transition: all 0.5s ease-out;
    font-size: 15px;
}

.btn:hover{
    cursor: pointer;
    border: 1px solid rgb(212, 67, 14);
    color: rgb(212, 67, 14);
    background-color: whitesmoke;
  
}

/* Home page right side content  */


.home-img-section > img{
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 50%;
}

/* Media queries  */
@media(max-width:500px){

   .header{
     display: flex;
     flex-direction: column;
   }
   .home-img-section > img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
   }
   .home-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.home-text > h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.home-text > h4{
    font-size: 20px;
    width: 100%;
    margin-bottom: 30px;
    font-weight: 400;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin:10px 0;
}

.btn{
    width: 90%;
    padding: 15px 20px;
    margin-right: 20px;
    font-size: 15px;
    margin-bottom: 10px;
}

}



@media(max-width:920px){
    .header{
        display: flex;
        flex-direction: column;
      }
      .home-img-section > img{
       width: 300px;
       height: 300px;
       object-fit: cover;
       border-radius: 50%;
      }
      .home-text{
       display: flex;
       flex-direction: column;
       text-align: center;
       justify-content: center;
   }
   
   .home-text > h1{
       font-size: 50px;
       margin-bottom: 10px;
   }
   .home-text > h4{
       font-size: 20px;
       width: 86%;
       margin-bottom: 30px;
       font-weight: 400;
   }
   
   .buttons{
       display: flex;
       flex-direction: column;
       margin:10px 0;
   }
   
   .btn{
       width: 90%;
       padding: 15px 20px;
       margin-right: 20px;
       font-size: 15px;
       margin-bottom: 10px;
   }
}
